.flex_main {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.flex_main_output {
    display: flex;
    gap: 1rem;
    width: 100%;
    margin: 0 auto;
    outline: 1px solid purple;
    box-sizing: border-box;
    padding: 0.5rem;
    background-image: linear-gradient(to right, #242424, #161616);
    min-height: 12rem;
}

.flex_main_codeblock {
    display: flex;
    flex-direction: column;
    outline: 1px solid lime;
    background-color: #001328a5;
    font-size: 0.85rem;
    box-sizing: border-box;
    padding: 0.5rem;
    color: #5ac6bf;
}

.flex_main_codeblock_property {
    font-style: italic;
    color: white;
}

.flex_main_codeblock_value {
    color: cyan;
}
