.square {
    background-color: navy;
    background-image: linear-gradient(to right, purple, rgb(173, 80, 173));
    border-style: solid;
    border-width: 1px;
    border-color: cornflowerblue;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
